div(id="contactPage",data-role="page")
  div(data-role="header")
    a(href="#mainPage", data-role="button", data-icon="back", data-direction="reverse") Back
    h1 Contact
  div(data-role="content")
    div(class="ui-body ui-body-b",,style="max-width:500px")
      h2 Conference assistance
      p For any help during the conference contact:
      table
        tr
          td Simon:
          td 083 250 6785 
    div(class="ui-body ui-body-b",,style="max-width:500px")
      h2 Conference WiFi
      p Instructions to connect to the Ambrosia Hall WiFi.
      table
        tr
          td Network:
          td insert address here
        tr
          td Password:
          td password



