div(id="redcometPage",data-role="page")
  div(data-role="header")
    a(href="#mainPage", data-role="button", data-icon="back", data-direction="reverse") Back
    h1 Contact
  div(data-role="content")
    div(class="ui-body ui-body-a", style="margin-top:10px;max-width:500px")
      h2 Red Comet Labs
      p 
        | Mobile app was created by 
        br
        a(href="http://www.redcometlabs.com") Red Comet Labs
      p Specialists in:
      ul
        li Web development
        li Mobile development
       
      p We would love to know what you thought of this app and presentation
      p Contact us at <a href="mailto:info@redcometlabs.com">info@redcometlabs.com</a>

